# Environment
.env
.env.local
.env.production
.env.*.local
*.env.local

# Dependencies
node_modules/
.turbo/

# Build
dist/
build/
.expo/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prevent android from being generated in wrong location
/android